#events {
    height: 500px;
    border: 2px solid black;
    margin: 5px;
}
#commercials {
    margin: 5px;
    height: 500px;
    border: 2px solid black;
}
#profiles {
    margin: 5px;
    border: 2px solid black;
    position: relative;
    text-align: center;
}
.profile {
    height: 150px;
    width: 200px;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}
