<header id="section_header" class="navbar-fixed-top main-nav" role="banner">
    <div class="container">
        <div class="navbar-header ">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                SkillFinder
            </a>
        </div>
        <nav class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
            <ul class="nav navbar-nav navbar-right ">
                <li class="active"><a [routerLink]="['HomePage']" class="active">Home page</a></li>
                <li class=""><a [routerLink]="['Events']">Events</a> </li>
                <li class=""><a [routerLink]="['ContactUs']">Contact us</a> </li>
            </ul>
        </nav>
    </div>
</header>

<router-outlet></router-outlet>