<section>
    <div class="container-fluid">
        <div class="row" style="margin-bottom:50px">

        </div>
        <div class="row">
                <div id="events" class="border col-lg-2 col-md-2 col-sm-4 hidden-xs">
                    <h1>Events</h1>
                </div>
                <div id="profiles" class="border col-lg-8 col-md-8 col-sm-8 col-ms-12 col-xs-12">
                    <h1>Profiles</h1>
                        <div *ngFor="#profile of profiles" class="profile">
                            {{profile}}
                        </div>
                </div>
                <div id="commercials" class="border col-lg-2 col-md-2 hidden-sm hidden-xs">
                    <h1>Banners</h1>
                </div>

        </div>

    </div>
</section>
